<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, :collection => %w(0 1 2 3 4 5) %>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
